* {
    border: 1px red solid;
}
#canvasContainer {
    position: relative;
    width: 500px;
}
 
#canvas {
    background-image: url(./images/wheelbg.png);
    background-repeat: no-repeat;   
    background-position: center;   
    width: 500px;                  
    height: 500px;
    z-index: 1;
}
 
#prizePointer {
    position: absolute;
    left: 240px;
    top: 50px;
    z-index: 999;
}

.player {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 800;
}

.container {
    background-color: #7649fe;
}

.spacer {
    margin-top: 36px;
}

#playerOne {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 300;
    color: #0c164f;
}

#playerTwo {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #ba1e68;
    font-weight: 300;
}
#playerThree {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 300;
    color: #1d1135;
}
#playerFour {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 300;
    /* color: #5643fd; */
    color: #fcfbfe;
}